.hero {
  height: 100vh;
  width: 100vw;
  background-image: url("http://cdn.miscellaneoushi.com/2560x1600/20121023/minimalistic%20cocacola%20coke%20backgrounds%20logos%202560x1600%20wallpaper_www.miscellaneoushi.com_48.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  .hero {
    background-position-x: 0%;
    display: flex;
  }
}
