.hero {
  width: 100vw;
  height: 100vh;
  background-image: url("https://i.ibb.co/bgwdLBj/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) and (max-width: 1366px) {
  .hero {
    background-position-x: 90%;
  }
}
