.Title {
  font-family: Unity, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f40000;
  font-size: 1.6em;
}

.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

