.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: #fafafa;
}

.navbar-change {
  color: #232323;
}

@media (max-width: 760px) {
  .navbar img {
    width: 60px;
    height: 60px;
  }
}
