.App,
body {
  text-align: center;
  background-color: #fafafa;
  min-height: calc(100vh-34px);
}
footer {
  margin-top: 5%;
  position: relative;
  left: 0;
  bottom: 0;

  color: #232323;
  font-weight: 500;
  font-size: 0.7em;
}
