.Counter {
  max-width: 30%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  color: #fafafa;
}

.Button {
  width: 60%;
}

h3 {
  color: #232323;
  font-weight: bold;
  padding: 5px;
}

@media (max-width: 760px) {
  .Button {
    width: 100%;
  }
}
