.Itemlist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  padding: 0px 5px;
}

@media (max-width: 760px) {
  .Itemlist {
    grid-template-columns: repeat(2, 1fr);
  }
}
